<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<display-name>BasicJSP2</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>

<resource-ref>
<description>Mysql Datasource</description>
<res-ref-name>jdbc/mydb</res-ref-name>
<!-- contents.xml에 pullName정한거랑 똑같음 -->
<res-type>javax.sql.DataSource</res-type>
<!-- 임폴트 시키라는거 -->
<res-auth>Container</res-auth>
</resource-ref>


<error-page>
<error-code>404</error-code>
<location>/error/404code.jsp</location>
</error-page>

<error-page>
<error-code>500</error-code>
<location>/error/505code.jsp</location>
</error-page>
</web-app>